@font-face {
    font-family: 'DeathStar';
    src: url('assets/fonts/DeathStar/death_star.eot');
    src: url('assets/fonts/DeathStar/death_star.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/DeathStar/death_star.woff2') format('woff2'),
    url('assets/fonts/DeathStar/death_star.woff') format('woff'),
    url('assets/fonts/DeathStar/death_star.ttf') format('truetype'),
    url('assets/fonts/DeathStar/death_star.svg#death_starregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
