$menuFontSize: 14px;
$menuLineHeightSmall: 61px;
$menuLetterSpacingSmall: 1.4px;

$headerFontSizeBig: 72px;
$headerLineHeightBig: 61px;
$headerLetterSpacingBig: 36px;

$sideMenuFontSizeNumbers: 60px;
$letterSpacingNumbers: 6px;
$lineHeightNumbers: 61px;

